.DS_Store
._*
.Trash
.Spotlight-V100
.Trashes
*.swp
Thumbs.db
.DS_Store
._*
.Trash
.Spotlight-V100
.Trashes
*.swp
Thumbs.db
.DS_Store
._*
.Trash
.Spotlight-V100
.Trashes
*.swp
Thumbs.db
.DS_Store
._*
.Trash
.Spotlight-V100
.Trashes
*.swp
Thumbs.db
.DS_Store
